* {
    font-family: helvetica, sans-serif;
    margin: none;
    padding: none;
    border: none;
    background-color: lightslategray;
}

.container {
    height: 400px;
    width: 400px;
    border: none;
    background-color2: gray;
}

 div {margin:auto}
.lilbox {
    height: 20px;
    width: 20px;
    background-color: white;
}

.control {
    background-color: lightgray;
    margin: 3px;
    border-radius: 3px;
    font-size:14px;
    font-family: arial;
    display: inline;
    margin-right: 1%;
    
}
